## Data **structure**

1. What are data structures, and why are they important?

Ans-> Data structure is a well organised formate for organizing , storing and accesing the data.There are many efficient way to manage the data based on the characteristics.This also help in our intension on how to use data accordingly.

a.selection of right data structure impact the eficiency of work or its uses.

b.variors operation on the given data like addition multiplication and many more.

c.it helps to conserve memory usage

2. Explain the difference between mutable and immutable data types with examples.

Ans-> Mutabel-The word itself describe its properties of change.mutable data type is the data type in which addition of more element and removal of element is possible.Ex-List,set

Immutable-Immutable data type is the data type in which addition of more element and removal of element is not allowed.Ex-string,tuple

3. What are the main differences between lists and tuples in Python?

Ans-> In almost all manner list and tuples are simmilar except one on mutability.List is mutabel  and tuples are immutabel.

4.  Describe how dictionaries store data?

Ans-> Dictionaries stores data in the form of keys and values.One can acces value by the help of keys but cannot acces keys by the help of values.Each key is uniqe to retrevial of particular value.You can use string tuple or any immutable data structure which has stable hash value.

5. Why might you use a set instead of a list in Python?

Ans-> If the collection of items need to be uniqe then set automatically inforce the uniqueness of data.Set are also optimized for checking the data in set or not.Sets are unorderd so if the ordered of the element not matter that set is better choice

6. What is a string in Python, and how is it different from a list?

Ans-> String is a sequence of character where is list is of values or element which can be even string character integer or even other list.

7. How do tuples ensure data integrity in Python?

Ans-> Tuples are immutable which ensure data integrity.

8. What is a hash table, and how does it relate to dictionaries in Python?

Ans-> Hash table is data structure that store key-value pair and allow for efficient retrieval of vlaue using unique key or associated key to that vlaue.

Key that is provided to the dictionary are first passed through a hash funtion .This funtion generate a hash value which is integer.

Hash value determine the storage location and it preserve the order.

9. Can lists contain different data types in Python?

Ans-> Yes,absolutley list contain different data type which may me string , character, integer, float .

10. Explain why strings are immutable in Python?

Ans-> Immutability of string ensure data integration and predictability.In multi thread enviornment immutabile object are inherently thread safe.Immutability prevents malicious or accidental alteration of string data.

11. What advantages do dictionaries offer over lists for certain tasks?

Ans->Dictionary provide fast acces to the values based on the their keys. Because dictionaries used hash table to store their key value pair.

12. Describe a scenario where using a tuple would be preferable over a list.

Ans-> Tuples are immutable where as list are mutable.Where we dont need to change the data frequently there we use tuple.

13.  How do sets handle duplicate values in Python?

Ans-> Sets are inherently design to store only unique element. If anyone tries to store duplicate set diregrads the duplicate one.

14.  How does the “in” keyword work differently for lists and dictionaries?

Ans-> In keyword in list check if the value is present overall or not where as in dictinory it checks if that key are present or not .

15. Can you modify the elements of a tuple? Explain why or why not?

Ans-> No,Tuples cannot be modified as it is immutable.

The reason behind its immutability are Performance , safety and Hashability.

But tuples can be modified if there is a list inside that tuple then you can change the element inside the list only.

16. What is a nested dictionary, and give an example of its use case?

Ans-> Nested dictionary are the dictionary inside dictionary.

Ex- student={"name":"Anand","marks":{"Math":93,"physic"=92}} so here marks is key and math is key inside marks.

17.  Describe the time complexity of accessing elements in a dictionary?

Ans-> Since Dictionary uses hashing function to store its key so when you search for key it directly jumps on that keyword no loop is needed.

time complexity-O(1)

18.  In what situations are lists preferred over dictionaries?

Ans->  In some case list are more prefered over dictionaries when you care about Order or position or when you need to keep duplicate when you need to store hetrogenous element.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans-> Before Python 3.7 dictionaries are unordered but since 3.7 dictionaries are orderd means it contains the sequence of the input data.

It does not affect the data retrieval as it based on key. Accessing data is on keys not on order or unorderd.

20.  Explain the difference between a list and a dictionary in terms of data retrieval.

Ans-> In List items are stored in specific order and its acces is based on indexing.

While in dictionary data is stored in the form of keys and values. Data can retriev by the help of keys.

In [1]:
# 1. Write a code to create a string with your name and print it

name=input("Enter you name:")
print(name)

Enter you nameanand
anand

In [3]:
# 2. Write a code to find the length of the string "Hello World".

s="Hello World"
len(s)

11

In [1]:
# 3.Write a code to slice the first 3 characters from the string "Python Programming"

s="Pwskills"
s[0:3]

'Pws'

In [1]:
#4. Write a code to convert the string "hello" to uppercase.

s="hello"
s.upper()

'HELLO'

In [6]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

s = "I like apple"
new_s=s.replace("apple", "orange")
print(new_s)

I like orange

In [8]:
#6. Write a code to create a list with numbers 1 to 5 and print it.

a=list(range(1,6))
print(a)

[1, 2, 3, 4, 5]

In [9]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
a=[1,2,3,4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

In [10]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

a=[1,2,3,4,5]
a.remove(3)
print(a)

[1, 2, 4, 5]

In [11]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

a=['a', 'b', 'c', 'd']
a[1]

'b'

In [12]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].

list=[10, 20, 30, 40, 50]
list[::-1]

[50, 40, 30, 20, 10]

In [13]:
#11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.

tuple1 = (100, 200, 300)
print(tuple1)

(100, 200, 300)

In [14]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tuple1 = ('red', 'green', 'blue', 'yellow')
tuple1[-2]

'blue'

In [16]:
#13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tuple=(10,20,5,15)
min(tuple)

5

In [17]:
#14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tuple=('dog', 'cat', 'rabbit')
tuple.index('cat')

1

In [18]:
#15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

tuple=('apple', 'bananna', 'kiwi')
"kiwi" in tuple

True

In [19]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

set = {'a', 'b', 'c'}
print(set)

{'b', 'a', 'c'}

In [22]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

set={1,2,3,4,5}
print(set)
set.clear()
print(set)

{1, 2, 3, 4, 5}
set()

In [23]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

set={1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

In [26]:
#19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

s1={1,2,3}
s2={3,4,5}
s3=s1|s2
print(s3)

{1, 2, 3, 4, 5}

In [27]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

s1={1,2,3}
s2={3,4,5}
s3=s1&s2
print(s3)

{3}

In [28]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

dict={"name":"Anand","age":20,"city":"Mumbai"}
print(dict)

{'name': 'Anand', 'age': 20, 'city': 'Mumbai'}

In [29]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dict={'name': 'John', 'age': 25}
dict["country"]="USA"
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [31]:
#23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

dict={"name":"Alice","age":30}
dict["name"]

'Alice'

In [33]:
#24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dict={'name': 'Bob', 'age': 22, 'city': 'New York'}
dict.pop("age")
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [34]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dict={'name': 'Alice', 'city': 'Paris'}

if "city" in dict:
  print("city is present")
else:
  print("city is not present")

city is present

In [35]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.

list=[1,2,3,4]
tuple=(4,5,6,7)
dict={"name":"Anand","age":20,"city":"Mumbai"}
print(list)
print(tuple)
print(dict)

[1, 2, 3, 4]
(4, 5, 6, 7)
{'name': 'Anand', 'age': 20, 'city': 'Mumbai'}

In [36]:
#27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

list=[98,56,78,34,12]
list.sort()
print(list)

[12, 34, 56, 78, 98]

In [37]:
#28. Write a code to create a list with strings and print the element at the third index.

list=["Anand","Ajay","Bijay","Sanjay"]
list[2]

'Bijay'

In [38]:
#29.Write a code to combine two dictionaries into one and print the result.

dict1={"name":"Anand","age":20}
dict2={"city":"Mumbai","country":"India"}
dict1|dict2 or #dict1.update(dict2)

{'name': 'Anand', 'age': 20, 'city': 'Mumbai', 'country': 'India'}

In [55]:
#30. Write a code to convert a list of strings into a set.
list=["Anand","Ajay","Bijay","Sanjay"]

s=set(list)
print(s)

{'Sanjay', 'Bijay', 'Anand', 'Ajay'}